body {
  min-height: 100vh;
  font-family: "Lato", sans-serif;
  overflow: hidden;
}
.navbar {
  padding-top: 5px;
  padding-bottom: 5px;
}

#contenedor-mapa-div{
  margin-left: 320px;
}

#infosidebar {
  height: calc(100vh - 157px);
  background-color: white;
  padding: 8px 24px;
  overflow: auto;
  width: 50vw;
}

/* #infosidebar.visible {
  right: 0;
} 
.cruz-sidebar {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 31px;
  height: 31px;
  color: #333;
  font-size: 25px;
  line-height: 1em;
  text-align: center;
  background: #fff;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  cursor: pointer;
} */

#div_listado_unidades{
  width: calc(100vw - 320px);
  height: 87px;
  margin-top: 5px;
  color: black;
  text-decoration: none;
}
  
#div_listado_unidades .item{
  background: white;
  padding: 0px;
  
  margin: 0px;
  /*width: 140px;*/
  height: 80px;
  color: black;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  text-align: left;
}

.carousel-wrapper {
  margin: auto;
  position: relative;
  text-align: center;
  font-family: sans-serif;
  font-size: 14px;
}

.owl-nav > div {
  position: absolute;
  top: 17%;
  color: #cdcbcd;
}

.owl-nav i {
  font-size: 30px;
}

.owl-nav .owl-prev {
  left: 0px;
}

.owl-nav .owl-next {
  right: 0px;
}

.sidebar {
  height: 100%;
  width: 60px;
  background-color: rgb(17, 17, 17);
  transition: 0.5s;
  overflow-x: hidden;
  padding-top: 60px;
  white-space: nowrap;
  position: absolute;
  top: 65px;
  z-index: 0;
}
.sidebar ul {
  position: absolute;
  top: 0px;
}
.sidebar li {
  list-style: none;
  margin-top: 30px;
  margin-left: -16px;
}
.sidebar li a {
  padding: 20px 8px 8px 0px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  transition: 0.5s;
  transition-property: color;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar li a .pulsado {
  color: #f1f1f1;
}

.sidebar li a .fa-caret-left {
  padding-left: 4px;
  color: rgb(255, 255, 255);
  display: none;
}
.sidebar li a #triangle2 {
  position: absolute;
  left: 47px;
  top: 152px;
  padding-left: 4px;
  color: rgb(255, 255, 255);
}

.sidebar li a #triangle4 {
  position: absolute;
  left: 47px;
  top: 246px;
  padding-left: 4px;
  color: rgb(255, 255, 255);
}

.sidebar li a #triangle3 {
  position: absolute;
  left: 47px;
  top: 55px;
  padding-left: 4px;
  color: rgb(255, 255, 255);
  display: block;
}

.sidebar-capas {
  position: absolute;
  left: 60px;
  width: 260px;
  top: 65px;
  height: 100%;
  background: #333333;
  /*transition:all 0.5s linear;*/
  display: none;
  /*overflow: scroll;*/
}

.sidebar-capas.active {
  left: 60px;
}

.sidebar-capas ul {
  list-style: none;
  margin-top: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
}
/*Elementos li*/
.sidebar-capas ul li {
  padding: 8px 8px 8px 8px;
  border-bottom: 1px solid rgb(83, 83, 83);
  transition: all 300ms linear;
}
.sidebar-capas ul #universidades {
  border-left: solid 5px RGB(238, 125, 0);
}
.sidebar-capas ul #limite-arg {
  border-left: solid 5px RGB(64, 191, 239);
}

.sidebar-capas ul li:hover {
  background-color: rgb(131, 131, 131);
}

.sidebar-capas ul li h4 {
  color: white;
  margin-top: 7px;
  font-size: 23px;
}

.sidebar-capas ul li p {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0rem;
  color: white;
}

.sidebar-capas ul li a {
  text-decoration: none;
  display: flex;
}

/*sub menu*/
.sidebar-search {
  position: absolute;
  left: 60px;
  width: 260px;
  top: 65px;
  height: 100%;
  background: #333333;
  /*transition:all 0.5s linear;*/
  z-index: 1;
  /*overflow: scroll;*/
  min-height: calc((100vh - 65px) / 2);
}

.sidebar-search.active {
  left: 60px;
}

.sidebar-search ul {
  list-style: none;
  margin-top: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
}
/*Elementos li*/
.sidebar-search ul li {
  padding: 8px 8px 8px 8px;
  border-bottom: 1px solid rgb(83, 83, 83);
  transition: all 300ms linear;
  height: 50px;
}

.sidebar-search ul li:hover {
  background-color: rgb(131, 131, 131);
}

.sidebar-search ul li h4 {
  color: #2f4491;
  margin-top: 7px;
  font-size: 23px;
}

.sidebar-search ul li p {
  color: rgb(255, 255, 255);
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0rem;
  color: white;
  /*  padding-top: 8px;*/
  min-height: -30px;
}

.sidebar-search ul li a {
  text-decoration: none;
}

#personal {
  border-left: 5px solid #798dd4;
}
#inteligencia {
  border-left: 5px solid #79c6d4;
}
#operaciones {
  border-left: 5px solid #ca4057;
}
#material {
  border-left: 5px solid #66cc54;
}
#finanzas {
  border-left: 5px solid #e7b202;
}

.active4 {
  background-color: rgb(131, 131, 131);
  border-left: 5px solid RGB(174, 201, 11);
}

/*.active5 {
  background-color: rgb(131, 131, 131);
  border-left: 5px solid RGB(238, 125, 0);
}
*/

#sub-menu-search4 ul li a p {
  position: absolute;
  top: 60px;
  font-size: 16px;
}
#sub-menu-search4 ul li a p #lim-icon {
  margin-right: 10px;
}

/*sidebar sub-menu-info - estilos*/

.sidebar-search-info {
  position: absolute;
  left: -260px;
  width: 260px;
  top: 66px;
  height: 100%;
  background: #333333;
  /*transition:all 300ms linear;*/
  z-index: 1;
}

.sidebar-search-info.active2 {
  left: 60px;
}

#sub-menu-info .help {
  padding: 0px;
}
#sub-menu-info .help h1 {
  color: rgb(255, 255, 77);
  padding: 5px 0px 5px 0px;
}

#sub-menu-info .help p {
  padding: 10px;
  padding-left: 20px;
  padding-right: 10px;
  color: white;
}
#sub-menu-info .help hr {
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
}

/*Buscador */
.buscador {
  position: absolute;
  padding: 5px;
}

.buscador input {
  width: 260px;
  height: 40px;
  margin-left: 6px;
  margin-top: 10px;
  padding: 0 20px;
  font-size: 16px;
  color: black;
  outline: none;
  border: 1px solid silver;
  border-radius: 30px;
}

.buscador .btn {
  position: absolute;
  top: 14px;
  right: 19px;
  background-color: gray;
  width: 41px;
  height: 41px;
  line-height: 28px;
  text-align: center;
  color: white;
  font-size: 20px;
  border-radius: 50%;
}
.buscador .btn a i {
  color: white;
}

.buscador .text {
  color: white;
  padding: 10px;
  margin-top: 15px;
  margin-left: 10px;
}

/*Esta es la ultima actualizacion*/

/*------Stylos del mapa ---------*/
#mapa {
  position: relative;
  transition: 0.5s;
  z-index: 0;
}

div.leaflet-sidebar {
  padding: 0;
  width: 460px;
}

.leaflet-control-geocoder-options-open {
  z-index: 1;
}

/*Prueba de scroll*/

.centrar-1 {
  min-height: calc((100vh - 65px) / 2);
  width: 100%;
  /*border: 3px solid yellow;*/
  /*border: 1px solid #66cc54;*/
  overflow: hidden;
}

.scroll_A {
  position: absolute;
  overflow: hidden;
  max-height: calc((100vh - 65px) / 2);
  width: 100%;
}

.scroll_B {
  position: absolute;
  overflow: hidden;
  max-height: calc((100vh - 65px) / 2);
  width: 100%;
}

.scroll_C {
  position: absolute;
  height: calc(100vh - 65px);
  width: 100%;
}

.title-menu {
  background-color: #ffffff;
  color: #2f4491;
  min-height: 30px;
  padding-left: 5px;
  text-align: left;
  font-size: 18px;
  padding-top: 2px;
  font-weight: bold;
}

.sidebar-search .scroll_A::-webkit-scrollbar {
  width: 7px;
}

.sidebar-search .scroll_A::-webkit-scrollbar-thumb {
  background: #7a7a7a;
  border-radius: 5px;
}

.sidebar-search .scroll_B::-webkit-scrollbar {
  width: 7px;
}

.sidebar-search .scroll_B::-webkit-scrollbar-thumb {
  background: #7a7a7a;
  border-radius: 5px;
}

.clase-prueba {
  width: 200px;
  height: 250px;
  overflow: scroll;
  z-index: 1;
}

.tamanoA {
  padding-left: 0px;
  padding-top: 0px;
  width: 50vw;
  /*height: calc(80vh - 65px);*/
  height: calc(100vh - 157px);
  padding-right: 0px;
}

.alto_elemento_menu li {
  min-height: 30px;
  padding-top: 0px;
  margin-top: 0px;
}
.alto_elemento_menu li a {
  font-size: 16px;
  color: white;
}
.alto_elemento_menu li a p {
  color: white;
}

/*Nuevo menu ejercito Argentino*/

#sub-menu-search #logo {
  position: relative;
  top: -4px;
  width: 30px;
}
#sub-menu-search ul li {
  height: 30px;
  /*border-bottom: 1px solid rgb(144, 144, 144);*/
}

#sub-menu-search ul li a p {
  position: relative;
  top: -30px;
  left: 34px;
  font-size: 16px;
  /*font-family: "Open Sans", sans-serif;
  font-weight: 800;*/
}
#title-ejer-arg {
  height: 30px;
  padding-top: 2px;
  background-color: #aec90b;
  align-items: center;
}
#title-ejer-arg a {
  text-decoration: none;
}

#sub-menu-ejer-arg ul li a p {
  position: relative;
  top: -26px;
  left: 34px;
  font-size: 16px;
}

#crossicon-ejer {
  position: absolute;
  top: calc(30px + 8px);
  left: 240px;
  color: #ffffff;
}

#sub-menu-ejer-arg #logo {
  position: relative;
  top: -1px;
}

/*Bordes de los item del ejer-arg*/
#cond-sup {
  border-left: 5px solid rgb(123, 123, 211);
  cursor: pointer;
}

#fuerza-ope {
  border-left: 5px solid rgb(1, 161, 189);
  cursor: pointer;
}
#fuerza-sost {
  border-left: 5px solid rgb(51, 75, 211);
  cursor: pointer;
}
#fuerza-sost_selec {
  background-color: rgb(51, 75, 211);
}
#sist-edu {
  border-left: 5px solid rgb(234, 236, 97);
  cursor: pointer;
}
#fuerza_operativa {
  background-color: #01a1bd;
}

#tit_fuer_oper_elem1 {
  background-color: burlywood;
}
#tit_fuer_oper_elem3 {
  background-color: rgb(135, 187, 222);
}

#fuerza_operativa_guc {
  background-color: #aede87;
}
#fuerza_operativa_gub {
  background-color: #deb887;
}
#fuerza_sostenimiento {
  background-color: #d37b7b;
}
#sistema_educativo {
  background-color: #eaec61;
}
#sistema_educativo p {
  color: black;
}

.crossicon-fuerza_oper_gub,
.crossicon-fuerza_oper_guc,
.crossicon_fuer_oper_elem1,
.crossicon_fuer_oper_elem3 {
  position: absolute;
  top: calc(90px + 8px);
  left: 240px;
  color: #ffffff;
}

#EA-mil {
  border-left: 5px solid #aec90b;
  cursor: pointer;
}

#arm-arg {
  border-left: 5px solid #ee7d00;
  cursor: pointer;
}

#FFAA {
  border-left: 5px solid #40bfef;
  cursor: pointer;
}

#sub-menu-ejer-arg {
  position: absolute;
  left: 60px;
  width: 260px;
  max-height: calc((100vh - 65px) / 2);
}

#sub-menu-conduc-sup {
  position: absolute;
  left: 60px;
  width: 260px;
  max-height: calc((100vh - 65px) / 2);
  --alto_panel: calc((100vh - 65px) / 2);
}
.elem_conducc_sup .div_items_elem,
.elem_fuerza_oper .div_items_elem,
.elem_fuerza_oper_gub .div_items_elem,
.elem_fuerza_sostenim .div_items_elem,
.elem_sist_educ .div_items_elem {
  overflow: auto;
  overflow-x: hidden;
  height: calc(var(--alto_panel) - 30px - 30px - 30px);
}
.elem_fuerza_oper_guc .div_items_elem,
.menu_fuer_oper_elem1 .div_items_elem,
.menu_fuer_oper_elem3 .div_items_elem {
  overflow: auto;
  overflow-x: hidden;
  height: calc(var(--alto_panel) - 30px - 30px - 30px - 30px);
}

.areas_personal,
.areas_inteligencia,
.areas_operaciones,
.areas_material,
.areas_finanzas {
  position: absolute;
  top: calc(65px + ((100vh - 65px) / 2));
  left: 60px;
  width: 260px;
  max-height: calc((100vh - 65px) / 2);
}

.areas_conduccion {
  top: calc(65px + ((100vh - 65px) / 2));
  max-height: calc((100vh - 65px) / 2);
  width: 100%;
}

.areas_personal #items-conduccion,
.areas_inteligencia #items-conduccion,
.areas_operaciones #items-conduccion,
.areas_material #items-conduccion,
.areas_finanzas #items-conduccion {
  overflow: auto;
  overflow-x: hidden;
  height: calc(var(--alto_panel) - 30px - 30px);
}

.menu_superior .ejer-items {
  height: 30px;
  cursor: pointer;
}
.menu_superior .ejer-items p {
  font-size: 16px;
}
.menu_superior .ejer-items a {
  text-decoration: none;
}
#sub-menu-ejer-arg .ejer-items {
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
#sub-menu-ejer-arg .ejer-items p {
  font-size: 16px;
}
#sub-menu-ejer-arg .ejer-items a {
  text-decoration: none;
}
.alto_elemento_menu .ejer-items {
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.areas_conduccion .ejer-items p {
  font-size: 16px;
}
.areas_conduccion .ejer-items a {
  text-decoration: none;
}
.areas_conduccion .ejer-items {
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
#sub-menu-conduc-sup .ejer-items {
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
#sub-menu-conduc-sup .ejer-items p {
  font-size: 16px;
}
#sub-menu-conduc-sup .ejer-items a {
  text-decoration: none;
}

.sidebar-capas .ejer-items {
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

#sub-menu-conduc-sup #logo {
  position: relative;
  top: -1px;
}

.pulsado-items {
  border-left: 10px solid rgb(48, 129, 195);
  background-color: rgb(95, 91, 91);
}

#sub-menu-conduc-sup ul li a p {
  position: relative;
  top: -26px;
  left: 34px;
  font-size: 16px;
}

#sub-menu-conduc-sup #cond-sup {
  background-color: rgb(123, 123, 211);
}

#sub-menu-conduc-sup #crossicon-conduc {
  position: absolute;
  top: calc(60px + 8px);
  left: 240px;
  color: #ffffff;
}

#sub-menu-capa_universidades #crossicon-univer,
#sub-menu-capa_ferrocarril #crossicon-lim {
  position: absolute;
  top: calc(30px + 8px);
  left: 240px;
  color: #ffffff;
}

#sub-menu-conduc-sup #crossicon-conduc_areas_pers,
#crossicon-conduc_areas_inteligencia,
#crossicon-conduc_areas_operaciones,
#crossicon-conduc_areas_material,
#crossicon-conduc_areas_finanzas {
  position: absolute;
  top: calc(30px + 8px);
  left: 240px;
  color: #ffffff;
}

#direc1 {
  border-left: 5px solid burlywood;
}

#direc2 {
  border-left: 5px solid rgb(174, 222, 135);
}
#direc3 {
  border-left: 5px solid rgb(135, 187, 222);
}
#direc4 {
  border-left: 5px solid rgb(238, 116, 34);
}
#direc5 {
  border-left: 5px solid rgb(144, 135, 222);
}
#direc6 {
  border-left: 5px solid rgb(135, 222, 161);
}
#direc7 {
  border-left: 5px solid rgb(212, 135, 222);
}
#direc8 {
  border-left: 5px solid rgb(135, 163, 222);
}
#direc9 {
  border-left: 5px solid rgb(222, 135, 135);
}
#direc10 {
  border-left: 5px solid rgb(135, 176, 222);
}
#direc11 {
  border-left: 5px solid rgb(31, 141, 108);
}
#direc12 {
  border-left: 5px solid rgb(222, 135, 189);
}

#direc13 {
  border-left: 5px solid rgb(51, 75, 211);
}
#direc14 {
  border-left: 5px solid rgb(214, 85, 45);
}

/*Sub-menu principal de ejercito argentino*/
/*.sub-menu-searchb*/

#sidebar456 {
  padding-bottom: -20px;
  height: 44vh;
}

/*
@media only screen and (max-width: 992px) {
  .tamanoA {
    margin-left: 100px;
    margin-right: 0px;
    left: -39;
    width: 96vw;
    height: 91.5vh;
  }
}
*/

.punteado {
  border-top: dotted 1px black;
}

/*Franco Navarro css Cambios*/

.active-ferrocarril {
  border-left: 5px solid #40bfef;
}

.active-ferrocarril-pulsado {
  background-color: rgb(131, 131, 131);
}

/*Universidades publicas y privadas*/

#publica-mil {
  border-left: 5px solid #f18187;
}

#privada-mil {
  border-left: 5px solid #81adf8;
}

.active-pub {
  background-color: rgb(131, 131, 131);
}
.active-priv {
  background-color: rgb(131, 131, 131);
}

/*Fin Universidades publicas y privadas */

/*FIN Franco Navarro css Cambios*/

li.hoveado_fuerzas {
  background-color: rgb(131, 131, 131);
}

li.hoveado_areas {
  background-color: rgb(131, 131, 131);
}

.click-unis{
  background-color: #D9D9D9;
}

/*Alto de los elemetos*/

.sidebar-search ul .alto_item {
  padding: 8px 8px 8px 8px;
  border-bottom: 1px solid rgb(83, 83, 83);
  transition: all 300ms linear;
  height: 59px;
}
/*
.alto_item_p{
  line-height: 22px;
  padding-top: 0px;
  margin-top: 0px;
}
*/